@font-face {
    font-family: "diary";
    src: url("./font/EF_Diary.ttf");
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

body{
    background: url("./img/bg.png");
}

header{
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 30px;
}

header > span{
    font-family: "diary";
    font-size: 30px;
    line-height: 50px;
}

#bg_img{
    position: absolute;
    width: 50px;
    right: 30px;
}

#bg_hr{
    width: 98%;
    height: 50px;
    position: relative;
    left: 20px;
}

#container{
    position: relative;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
}

.bt{
    background: url("./img/bt_bg1.png") no-repeat;
    width: 250px;
    height: 150px;
    text-align: center;
    display: inline-block;
    margin-top: 100px;
}

.bt button{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    font-family: "diary";
    margin-top: 60px;
    margin-right: 20px;
    cursor: pointer;
}